*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body{
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: rgb(117, 188, 216);
}

.radio-btn-container {
  display:grid;
}

.label{
  padding: 10px 20px 10px 20px;
}

.radio-btn {
  max-width: 380px;
  accent-color: salmon;
  color: white;
  margin: 10px;
  padding: 10px;
  font-weight: 700;
  border-radius: 15px;
  background: rgb(0, 0, 0);
}

.checkbox-container{
  padding-bottom: 10px;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.filterItem{
  padding: 12px 10px 8px 40px;
  background-color: aliceblue;
  width: 320px;
  font-weight: 600;
}


.filtersBtn{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  width: 320px;
  margin: 10px 0px 4px 0px;
  cursor: pointer;
}

.clearFiltersBtn{
  background-color: darkslategrey;
  color: white;
  padding: 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  width: 320px;
  cursor: pointer;
}

.ingsBtn{
  background-color: white;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  width: 320px;
  margin: 10px 0px 4px 0px;
  cursor: pointer;
}

.item{
  float: left;
  background-color: black;
  color: white;
  width: 370px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  font-size: large;
  margin: 16px;
  border: 1px solid white;
}

.unavailable{
  background-color: black;
  opacity: 0.6;
  /* display: none; */
}

.unavl{
  padding: 12px 10px 8px 40px;
  background-color: lightcoral;
  width: 320px;
  font-weight: 600;
}


.hide{
  display: none;
}

.ingredients{
  padding: 6px 10px 4px 10px;
  color: white;
  font-size:medium;
  font-weight: 600;
  text-align: start;
}

.m-ingredients{
  padding: 0px 10px 10px 10px;
  /* color: rgb(180, 0, 0); */
  color: red;
  font-size:medium;
  font-weight: 600;
  text-align: start;
}

.move{
  padding-left: 36px;
}

.title{
  padding-bottom: 4px;
  font-size: larger;
  font-weight: bolder;
}

img{
  border: 2px solid white;
}
